
<!DOCTYPE html>
<html lang="en">
    <!--<head th:replace="common/header :: common-header" />-->
    <head th:replace="common/header :: common-header" />

    <!--     <body class="sidebar-mini wysihtml5-supported skin-blue-light">-->
    <body class="hold-transition login-page">
        <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}" ></div>
        <div class="login-box">
            <div class="login-logo">
                <a th:href="@{/}"><b>مدرسة محمود الشناوي بالحميدية
                    </b></a>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">بالرجاء ادخال اسم المستخدم والبريد الالكتروني</p>

                <form class="form-signin" th:action="@{/forgetPassword}" method="post">
                    <div class="form-group has-feedback">
                        <label for="username" class="pull-right text-blue">اسم الدخول</label>
                        <input type="text"
                               class="form-control text-right" 
                               id="username"
                               name="username"
                               th:value="${user.username}"
                               placeholder="اسم الدحول"
                               required>
                        <span class="glyphicon glyphicon-user form-control-feedback text-blue"></span>
                        <div class="bg-danger text-right" th:if="${usernameNotExists}">هذا الاسم غير مسجل 
                        </div>
                        <div class="bg-danger text-right" th:if="${usernameError}">لايمكن ترك اسم المستخدم فارغا
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="email" class="pull-right text-blue text-blue">البريد الالكتروني</label>

                        <input type="email" 
                               class="form-control text-right"
                               id="email"
                               name="email"
                               th:value="${user.email}"
                               placeholder="البريد الإلكتروني"
                               required>
                        <span class="glyphicon glyphicon-envelope form-control-feedback text-blue"></span>
                        <div class="bg-danger text-right" th:if="${emailNotExists}">هذا البريد غير مسجل
                        </div>
                        <div class="bg-danger text-right" th:if="${emailError}">لايمكن ترك البريد فارغا
                        </div>
                    </div>

                    <div class="row">  
                        <!-- /.col -->
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">ارسال كلمة المرور للبريد</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <div class="row">
                    <hr>


                </div>
                <a th:href="@{/newUser}" class="text-center">مستخدم جديد</a>

            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->
        <div th:if="${emailSend}" class="modal modal-info fade" id="modal-info">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title pull-center">اشعار</h4>
                    </div>
                    <div class="modal-body">
                        <p>تم ارسال بريد موضح فيه بياناتك وكلمة المرور الجديدة ؟&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">اغلاق</button>

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div th:if="!${emailSend}" class="modal modal-info fade" id="modal-info">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title pull-center">اشعار</h4>
                    </div>
                    <div class="modal-body">
                        <p>يرحي مراجعت بياناتك مرة اخري ؟&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">اغلاق</button>

                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>



        <div th:replace="common/header :: body-bottom-scripts" ></div>

    </body>
</html>
